.App {
  text-align: center;
}

.GroceryItem {
  background-color: brown;
  padding: 5px;
  margin: 10px;
}

.Control {
  background-color: orange;
  padding: 10px;
}

.Inputs {
  margin: 5px;
}

.AddButton {
  margin: 5px;
  background-color: #00ffcc;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}
